fastapi==0.104.1
uvicorn==0.24.0
# pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.0
httpx==0.25.2
# pydantic-core==2.14.6

requests==2.31.0
beautifulsoup4==4.12.2 
# trafilatura==1.6.4

tavily-python==0.3.3 # For web search

# ML/AI (if need them)
google-generativeai==0.3.2

# CORS support
python-multipart==0.0.6

websockets==12.0
wsproto==1.2.0
uvicorn[standard]
url_launcher == 6.3.1; # For launching URLs in Flutter
